ion-content {
  --background: none;
  background: linear-gradient(to bottom, #cce7ff, #ffffff); /* puedes cambiar a #ffc857 si quieres más calidez */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.login-background {
  --background: none;
  background: linear-gradient(to bottom, #cce7ff, #ffffff);
}

ion-header {
  background-color: #084c61;
  color: #ffffff;
  padding: 10px;
}

ion-toolbar {
  --background: #084c61;
  --color: #ffffff;
  text-align: center;
}

ion-title {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
}

.dark-icon {
  color: #323031;
}

h2 {
  margin-top: 5px;
  font-size: 1.4rem;
  color: #323031;
}

.login-icon {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 20px;
}

ion-item {
  --background: #e6f3ff;
  --color: #323031;
  border-radius: 5px;
  width: 85%;
  max-width: 350px;
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
}

ion-label {
  font-size: 1rem;
  color: #177e89;
  flex-grow: 1;
}

ion-input {
  color: #323031;
  font-size: 1rem;
  padding: 8px;
  flex-grow: 1;
}

ion-item ion-icon[slot="end"] {
  margin-right: 8px;
}

ion-button {
  width: 90%;
  max-width: 350px;
  font-size: 1rem;
  margin-top: 8px;
  --border-radius: 20px;
}

ion-button::part(native) {
  border-radius: 30px;
}

/* Primer botón */
ion-button:first-of-type {
  --background: #177e89;
  --color: #ffffff;
}

/* Último botón */
ion-button:last-of-type {
  --background: #084c61;
  --color: #ffffff;
}

ion-button ion-icon[slot="start"] {
  margin-right: 10px;
}

ion-button ion-icon[slot="end"] {
  margin-left: 10px;
}

p {
  color: #177e89;
  font-size: 0.9rem;
  text-align: right;
  width: 85%;
  max-width: 350px;
  cursor: pointer;
  margin-top: 5px;
}
