ion-content {
  --background: #111;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px 0;
  min-height: 100%;
}

ion-header,
ion-toolbar {
  --background: #800000;
  --color: #fff;
  text-align: center;
}

ion-title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}

ion-row {
  margin-right: -8px; /* Evitar el espacio entre columnas */
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  padding-right: 8px; /* Añadir el margen al final de cada columna */
  display: flex;
  justify-content: center; /* Asegura que las tarjetas se centren */
}

ion-card {
  background: #1a1a1a;
  color: #fff;
  width: 100%;
  max-width: 530px; /* Ancho máximo para las tarjetas */
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 100%; /* Mantén la altura flexible */
}

ion-card-header {
  background-color: #800000;
  border-radius: 12px 12px 0 0;
}

ion-card-title {
  color: #fff;
  font-size: 1.4rem;
  padding: 10px;
}
/* Estilo para la disposición de los botones */
.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px; /* Margen superior para separar los botones del contenido anterior */
}

ion-button {
  width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
}

ion-card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que los elementos dentro del card se distribuyan */
}

ion-button {
  margin-top: 10px;
}

.margin-right {
  padding-right: 16px; /* Solo se aplica el margen a las columnas finales */
}

ion-row {
  display: flex;
  flex-wrap: wrap;
}
