<ion-header>
  <ion-title>Parkings</ion-title>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let parking of parkings">
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ parking.nombre }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>{{ parking.ubicacion }}</p>

              <!-- Nuevo botón: abrir mapa en modal -->
              <ion-button expand="block"
                          class="btn-ticket"
                          (click)="openMapaModal(parking)">
                Ver mapa
              </ion-button>

              <!-- Botón de reservar -->
              <ion-button expand="block"
                          class="btn-eliminar"
                          (click)="loadPlazas(parking.idParking)">
                Reservar
              </ion-button>

              <!-- Quitamos el div del mapa que antes estaba aquí -->
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
