ion-card {
  background: rgba(26, 26, 26, 0.8); /* Fondo translúcido */
  color: #fff;
  width: 100%;
  margin-top: 10px; /* Reducir espacio superior */
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  padding: 15px; /* Ajustar padding dentro de la tarjeta */
  min-height: 280px; /* Aumentar altura mínima */
  display: flex;
  flex-direction: column;
}

ion-card-header {
  background-color: #800000;
  border-radius: 12px 12px 0 0;
}

ion-card-title {
  color: #fff;
  font-size: 1.2rem;
  padding: 8px;
  white-space: nowrap;
}

ion-card-subtitle {
  color: #ccc;
  font-size: 0.9rem;
}

ion-card-content {
  padding: 10px;
  font-size: 0.9rem; /* Reducir el tamaño de la fuente */
  line-height: 1.4; /* Espaciado más compacto */
  flex-grow: 1; /* Asegura que el contenido se expanda para llenar el espacio */
}

ion-card p {
  margin-bottom: 6px;
}

ion-button {
  margin-top: 10px;
  align-self: center; /* Asegura que el botón esté centrado */
}

.titulo-seccion {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
  gap: 15px;
  padding: 0 10px;
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila en pantallas grandes */
  }
}

@media (max-width: 992px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr; /* 1 columna por fila en pantallas muy pequeñas */
  }
}

