ion-header {
    background-color: #800000;
    padding: 10px;
  }
  
  ion-toolbar {
    --background: #800000;
    --color: #fff;
    text-align: center;
  }
  
  ion-title {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  ion-content {
    --background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  ion-item {
    --background: #222;
    --color: white;
    border-radius: 5px;
    width: 85%;
    max-width: 350px;
    margin-bottom: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  ion-label {
    font-size: 1rem;
    color: #ddd;
    flex-grow: 1;
  }
  
  ion-input {
    color: white;
    font-size: 1rem;
    padding: 8px;
    flex-grow: 1;
  }
  
  ion-button {
    width: 90%;
    max-width: 350px;
    font-size: 1rem;
    --border-radius: 20px;
    margin-top: 8px;
  }
  
  ion-button:first-of-type {
    --background: #800000;
    --color: #fff;
  }

  ion-button::part(native) {
    border-radius: 30px;
  }
  ion-button {
  width: 90%;
  max-width: 350px;
  font-size: 1rem;
  margin-top: 8px;
  --border-radius: 20px; /* Redondeo adicional opcional */
}

  
  ion-button:last-of-type {
    --background: #990000;
    --color: #fff;
  }
  ion-button::part(native) {
  border-radius: 30px;
}
